@use "sass:math";

@function nnb-round($v, $dp: 5) {
  $e: math.pow(10, $dp);
  $v: math.round($v * $e);
  $v: math.div($v, $e);

  @return $v;
}

@function nnb-scale($v, $w, $n, $x) {
  @if ($w > 0) {
    $i: ($x - $v);
    $s: math.div(($w * $i), 100);
    $v: ($v + $s);
  }

  @else if ($w < 0) {
    $i: ($v - $n);
    $w: math.abs($w);
    $s: math.div(($w * $i), 100);
    $v: ($v - $s);
  }

  @else {
    $v: $v;
  }

  @return $v;
}
