@use 'sass:color';
@use 'sass:math';
@use 'constants' as const;

@function to-hsv($color) {
  $r: color.red($color);
  $g: color.green($color);
  $b: color.blue($color);
  // ! Create empty variables
  $h: NaN;
  $s: NaN;
  $v: NaN;
  
  $x: math.max($r, $g, $b);
  $n: math.min($r, $g, $b);
  $d: ($x - $n);

  // Calc HUE
  @if ($d == 0) {
    $h: const.$MIN_HUE;
  } @else if ($r == $x) {
    $h: math.div(($g - $b), $d) % 6;
  } @else if ($g == $x) {
    $h: math.div(($b - $r), $d) + 2;
  } @else if ($b == $x) {
    $h: math.div(($r - $g), $d) + 4;
  }

  $h: math.round($h * 60);
  $h: if(($h < const.$MIN_HUE), ($h + const.$MAX_HUE), $h);
  $s: math.round(if(($x == const.$MIN_SAT), const.$MIN_SAT, math.div($d, $x)) * const.$MAX_SAT);
  $v: math.round(math.div($x, const.$MAX_RGB) * const.$MAX_LIG);

  $hsv: ($h, $s, $v);

  @return $hsv;
}
