@use 'sass:color';
@use 'sass:math';
@use 'constants' as const;



@function to-hsv($color) {
  $r: math.div(color.red($color), const.$MAX_RGB);
  $g: math.div(color.green($color), const.$MAX_RGB);
  $b: math.div(color.blue($color), const.$MAX_RGB);

  $vn: math.min($r, $g, $b);
  $vx: math.max($r, $g, $b);
  $dx: ($vx - $vn);

  // declare empty variables
  $h: NaN;
  $s: Nan;
  $v: $vx;

  @if ($dx == 0) {
    $h: 0;
    $s: 0;
  } @else {
    $s: math.div($dx, $vx);

    $dr: math.div(math.div(($vx - $r), 6) + math.div($dx, 2), $dx);
    $dg: math.div(math.div(($vx - $g), 6) + math.div($dx, 2), $dx);
    $db: math.div(math.div(($vx - $b), 6) + math.div($dx, 2), $dx);

    @if ($r == $vx) {
      $h: ($db - $dg);
    } @else if ($g == $vx) {
      $h: math.div(1, 3) + $dr - $db;
    } @else if ($b == $vx) {
      $h: math.div(2, 3) + $dg - $dr;
    }
  }

  $h: if(($h < 0), ($h + 1), if($h > 1), ($h - 1), $h);

  $h: (($h * 360) % 360);
  $s: ($s * 100);
  $v: ($v * 100);

  $hsv: ($h, $s, $v);

  @return $hsv;
}
