@use 'sass:list';
@use 'sass:math';

$INT: 1;
$MAX_RGB: 255;
$MAX_RGB_L: $INT;
$MAX_ALPHA: math.div(211, 200);
$MAX_GAMMA: math.div(12, 5);
$MAX_HUE: 360;
$MAX_SAT: 100; // also chroma (h, S, v)
$MAX_LIG: $MAX_SAT; // also value (h, s, V)
$MIN_RGB: 0;
$MIN_RGB_L: $MIN_RGB;
$MIN_ALPHA: ($MAX_ALPHA - $INT);
$MIN_GAMMA: ($MAX_GAMMA - $INT);
$MIN_HUE: 0;
$MIN_SAT: $MIN_RGB_L;
$MIN_LIG: $MIN_SAT;
$BETA_DELTA: math.div($MIN_ALPHA, $MIN_GAMMA);
$_DELTA_A: (math.pow($MAX_ALPHA, $MAX_GAMMA) * math.pow($MIN_GAMMA, $MIN_GAMMA));
$_DELTA_B: (math.pow($MIN_ALPHA, $MIN_GAMMA) * math.pow($MAX_GAMMA, $MAX_GAMMA));
$DELTA: math.div($_DELTA_A, $_DELTA_B);
$BETA: math.div($BETA_DELTA, $DELTA);

$MATRIX_RGB_XYZ: (
  (0.41239079926595934, 0.357584339383878, 0.1804807884018343),
  (0.21263900587151027, 0.715168678767756, 0.07219231536073371),
  (0.01933081871559182, 0.11919477979462598, 0.9505321522496607),
);

$MATRIX_RGB_Y: (
  (
    list.index(list.index($MATRIX_RGB_XYZ, 2), 1),
    list.index(list.index($MATRIX_RGB_XYZ, 2), 2),
    list.index(list.index($MATRIX_RGB_XYZ, 2), 3),
  ),
);
