@use 'sass:list';
@use 'sass:math';
@use 'linearize' as *;
@use 'constants' as *;


@function luminance($color) {
  $r: math.div(color.red($color), $MAX_RGB);
  $g: math.div(color.green($color), $MAX_RGB);
  $b: math.div(color.blue($color), $MAX_RGB);

  $r: linearize($r);
  $g: linearize($g);
  $b: linearize($b);

  $rY: list.index($MATRIX_RGB_Y, 1);
  $gY: list.index($MATRIX_RGB_Y, 2);
  $bY: list.index($MATRIX_RGB_Y, 3);

  $r: $rY * $r;
  $g: $gY * $g;
  $b: $bY * $b;

  @return ($r + $g + $b);
}
